{{- if include "psp.enabled" . }}
apiVersion: policy/v1beta1
kind: PodSecurityPolicy
metadata:
  name: cb.restricted-{{ .Release.Namespace }}
{{- if .Values.PodSecurityPolicy.Annotations }}
  annotations:
{{ toYaml .Values.PodSecurityPolicy.Annotations | indent 4 }}
{{- end }}
spec:
  privileged: false
  # Required to prevent escalations to root.
  allowPrivilegeEscalation: false
  # This is redundant with non-root + disallow privilege escalation,
  # but we can provide it for defense in depth.
  requiredDropCapabilities:
    - ALL
  # Allow core volume types. Disallow hostpath
  volumes:
    - 'configMap'
    - 'downwardAPI'
    - 'emptyDir'
    - 'projected'
    # persistentVolumes are required for CJOC and Managed Master StatefulSets
    - 'persistentVolumeClaim'
    - 'secret'
  hostNetwork: false
  hostIPC: false
  hostPID: false
  runAsUser:
    # Require the container to run without root privileges.
    rule: 'MustRunAsNonRoot'
  seLinux:
    rule: 'RunAsAny'
  supplementalGroups:
    rule: 'MustRunAs'
    ranges:
      # Forbid adding the root group.
      - min: 1
        max: 65535
  fsGroup:
    rule: 'MustRunAs'
    ranges:
      # Forbid adding the root group.
      - min: 1
        max: 65535
  readOnlyRootFilesystem: false
{{- end }}
